<%= stylesheet_link_tag     'main/index.css', media: 'all' %>
<%= javascript_include_tag  'main/algorithms.js' %>
<%= javascript_include_tag  'main/visualize.js' %>

<script>
  var current_user_id = <%= @current_user.id %>
</script>

<%= javascript_include_tag  'main/index.js' %>


<div class="ui-layout-west">
<div id ='Logo'>
  <img border="0" src="/Logo.jpg" width="100%" title='Click to load defualt page'>
</div>
    <!-- DIV for tabs -->
  <div class="ui-layout-content" id="tabs">
    <ul>
      <li> <a href="#tab-1">Upload</a> </li>
      <li>  <a href="#tab-2">Configure and Run</a>  </li>
      <li id='visualize-tab'>  <a href="#tab-3">Visualize </a> </li>
      <li> <a href="#tab-4"> Allegate </a> </li>
    </ul>
           <!-- This is tab 1 -->
    <div id="tab-1"> 
      <div class = "accordion" >
        <h3 id="upload_claims_header">Upload Datasets</h3>
        <div> 
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" name="csv" data-url="/datasets?kind=claims" multiple>
          </span>
           <span class='download-datasets info-icon ui-icon ui-icon-info' title='Download example datasets...'>
             <div id='datasets_dialog' title='Download example datasets...'>
             </div>
           </span>
           <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='claims_datasets_table' class="display" cellspacing="0" width="100%">
            <thead class='header_row'>
              <tr>
                <th> File Name </th>
                <th> Uploading Date </th>
                <th> Row Count</th>
                <th> Delete </th>
              </tr>
            </thead>
            <tbody id= 'datasets_claims_tbody'>   </tbody>
          </table>
        </div>
        <h3 id="upload_ground_header">Upload Ground Truth Datasets (optional)</h3>
        <div>
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" name="csv" data-url="/datasets?kind=ground" multiple>
          </span>
           <span class='download-datasets info-icon ui-icon ui-icon-info' title='Download example datasets...'>
          </span>
          <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='ground_datasets_table' class="display" cellspacing="0" width="100%">
            <thead>
              <th> File Name </th>
              <th> Uploading Date </th>
              <th> Row Count </th>
              <th> Delete </th>
            </thead>
            <tbody id="datasets_ground_tbody"></tbody>
          </table>
        </div>
        <h3>Select one (or more) algorithm(s)</h3>
        <div id="algo_pane">
          <p></p>
        </div>
      </div>
    </div>

    <!-- This is tab 2 -->
    <div id="tab-2"> <div id ="tab_pane" class="accordion"> </div> 
      <button id="start_button">START!</button>
    </div>
    <!-- This is tab 3 -->
    <div id="tab-3"> 
      <p><select id="runs_selector"></select></p>
      <p id="chart"></p>
    </div>
    <div id="tab-4"> 
    </div>  
  </div>
</div>

<div class="ui-layout-center">

  <div id="data-selector">
    <ul>
      <li> <a href="#tab-common">Claims</a></li>
      <li> <a href="#tab-common">Ground Truths</a></li>
    </ul>
    <div id="tab-common">
      <span class='export-command' value="source_id">Export Sources</span>
      &nbsp;-&nbsp;
      <span class='export-command' value="">Export Claims</span>
    </div>
  </div>
  
  <div class="inner">
    <div class="ui-layout-west">
      <table class="display" id="source_id_datatable" >
      </table>
      <label id="source_id_normalize"><input type="checkbox"/>&nbsp;Normalize</label>
    </div>
    <div class="ui-layout-center">
      <table class="display" id="object_key_datatable" >
      </table>
    </div>
    <div class="ui-layout-east">
      <table id="datatable" class="display" cellspacing="0" width="100%">
      </table>
      <label id="claims_normalize"><input type="checkbox"/>&nbsp;Normalize</label>
    </div>   
  <div class= "ui-layout-south">
    <table id = "run_table" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Runset ID</th>
              <th>Started at</th>
              <th>Algorithm</th>
              <th>Duration</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
  </div>
</div>
<div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user %>.
        <%= link_to 'Change password', edit_user_registration_path %> -
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% end %>
</div>
