<%= javascript_include_tag  'main/algorithms.js' %>
<%= javascript_include_tag  'main/hash_with_length.js' %>

<script>
  var current_user_id = <%= @current_user.id %>
</script>

<%= javascript_include_tag  'main/index.js' %>

<div class="ui-layout-west">
<div id ='Logo'>
  <img border="0" src="/Logo.jpg" width="235" title='Click to restore defualt layout'>
  <div id="tag_line">Truth Discovery from Multi-Source Data</div>
  <div id="user_nav">
      <% if user_signed_in? %>
          Signed in as <%= current_user %>.
          <%= link_to 'Change password', edit_user_registration_path %> -
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      <% end %>
  </div>
</div>
    <!-- DIV for tabs -->
  <div class="ui-layout-content" id="tabs">
    <ul>
      <li> <a href="#tab-1">Discover</a> </li>
      <li id='explain-tab'>  <a href="#tab-3">Explain</a> </li>
      <li id='allegate-tab'> <a href="#tab-4"> Allegate </a> </li>
    </ul>
           <!-- This is tab 1 -->
    <div id="tab-1"> 
      <div class = "accordion" >
        <h3 id="upload_claims_header">Upload Datasets</h3>
        <div> 
          <div class='upload-hints'>
            Upload CSV files with a header line having the following
            column names in any order: <span>ObjectID, PropertyID, PropertyValue, SourceID, TimeStamp</span>. You can replace <span>PropertyValue</span>
            by <span>PropertyValues</span> and the system will automatically split the
            contents of this column on the comma when running multi-valued
            algorithms.
          </div>
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" kind="claims" multiple>
          </span>
           <span class='download-datasets info-icon ui-icon ui-icon-info' title='Download example datasets...'>
             <div id='datasets_dialog' title='Download example datasets...'>
             </div>
           </span>
           <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='claims_datasets_table' class="display" cellspacing="0" width="100%">
            <thead class='header_row'>
              <tr>
                <th> Use </th>
                <th> File Name </th>
                <th> Uploading Date </th>
                <th> Row Count</th>
                <th> Delete </th>
              </tr>
            </thead>
            <tbody id= 'datasets_claims_tbody'>   </tbody>
          </table>
        </div>
        <h3 id="upload_ground_header">Upload Ground Truth Datasets (optional)</h3>
        <div>
          <div class='upload-hints'>
            Upload CSV files with a header line having the following
            column names in any order: <span>ObjectID, PropertyID, PropertyValue
            </span>. Values in <span>ObjectID</span> should match those in the dataset files
            so that objects are correctly matched (case sensitive).
            You can replace <span>PropertyValue</span>
            by <span>PropertyValues</span> and the system will automatically split the
            contents of this column on the comma when running multi-valued
            algorithms.
          </div>
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" kind="ground" multiple>
          </span>
           <span class='download-datasets info-icon ui-icon ui-icon-info' title='Download example datasets...'>
          </span>
          <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='ground_datasets_table' class="display" cellspacing="0" width="100%">
            <thead>
              <th> Use </th>
              <th> File Name </th>
              <th> Uploading Date </th>
              <th> Row Count </th>
              <th> Delete </th>
            </thead>
            <tbody id="datasets_ground_tbody"></tbody>
          </table>
        </div>
        <h3>Select and configure algorithm(s)</h3>
        <div>
          <div class='algo-mix-warn'>
            WARNING: mixing multi-valued algorithms with non-multi-valued algorithms
            may not display all claims in the results table!
          </div>
          <div id="algo_pane"></div>
        </div>
      </div>
      <div>
        <button id="start_button">START!</button>
        <div id="start_summary"></div>
      </div>
    </div>

    <!-- This is tab 3 -->
    <div id="tab-3"> 
      Explanations that you have requested:
      <ul id="explanation-log">
      </ul>
      <span>Nothing yet</span>
    </div>
    <div id="tab-4"> 
      <p>
        Claims that you allegate are listed here. Click on allegate in any green cell in the results to create more allegations. To see the fake claims that are generated by the allegation, go to the datasets table
        where they are inserted as normal datasets that you can use in futher experiments.
      </p>
      <table id='allegations_table' class="display" cellspacing="0" width="100%">
        <thead class='header_row'>
          <tr>
            <th>Run ID</th>
            <th>Claim ID</th>
            <!-- <th>Value</th> -->
            <th>Started at</th>
            <!-- <th>Algorithm</th> -->
            <th>Duration</th>
            <th>Claims</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id= 'allegations_tbody'>   </tbody>
      </table>
    </div>  
  </div>
</div>

<div class="ui-layout-center">

  <div id="data-selector">
    <ul>
      <li> <a href="#show_input">Inputs</a></li>
    </ul>
    <div class='runset_array'>
      <div id="tab-common">
        <span>
          <input type="checkbox" id="normalized_view"/>
          <label for="normalized_view">Normalized view</label>
        </span>
        <button id='export-command'>Export</button>
        <button id='visualize-command' value="sankey">
          Visualize
        </button>
        <div class="filter_container"></div>
      </div>
      <div id="show_input">
        <span>
          <input type="checkbox" id="source_view"/>
          <label for="source_view">Source view</label>
        </span>
        <div class="filter_container"></div>
      </div>
    </div>
  </div>
  
  <div><table id="source_id_datatable" class="display" cellspacing="0" width="100%"></table></div>
  <div><table id="datatable" class="display" cellspacing="0" width="100%"></table></div>

</div>

<div class= "ui-layout-south">
  <table id = "run_table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Runset ID</th>
        <th>Run ID</th>
        <th>Started at</th>
        <th>Algorithm</th>
        <th>Duration</th>
        <th>Precision</th>
        <th>Accuracy</th>
        <th>Recall</th>
        <th>Specificity</th>
        <th>Iterations</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>

<ul id="runs_menu"></ul>
