<%= stylesheet_link_tag     'main/index.css', media: 'all' %>
<%= javascript_include_tag  'main/algorithms.js' %>
<%= javascript_include_tag  'main/index.js' %>

<div class="ui-layout-west">
    <!-- DIV for tabs -->
  <div id="tabs">
    <ul>
      <li> <a href="#tab-1">Input</a> </li>
      <li>  <a href="#tab-2">Configuration</a>  </li>
      <li>  <a href="#tab-3">Run </a> </li>
    </ul>
           <!-- This is tab 1 -->
    <div id="tab-1"> 
      <div class = "accordion" >
        <h3>Upload Datasets</h3>
        <div> 
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" name="csv" data-url="/datasets?kind=claims" multiple>
          </span>
           <a href="/example.csv"><span class='info-icon ui-icon ui-icon-info' title='Download Example File'></span></a>
           <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='dataset_table' border=1 >
            <thead class='header_row'>
              <th> File ID </th>
              <th> File Name </th>
              <th> Uploading Date </th>
              <th> Row Count</th>
            </thead>
            <tbody id= 'datasets_claims_tbody'>   </tbody>
          </table>
        </div>
        <h3>Upload Ground Truth Datasets</h3>
        <div>
          <span class="btn btn-success fileinput-button">
            <span>Select files...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" name="csv" data-url="/datasets?kind=ground" multiple>
          </span>
          <a href="/example.csv"><span class='info-icon ui-icon ui-icon-info' title='Download Example File'></span></a>
          <button type="button" class="btn btn-warning cancel" disabled="disabled">Cancel upload</button>
          <!-- The global progress bar -->
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <table id='ground_table' border=1 >
            <thead>
              <th> File ID </th>
              <th> File Name </th>
              <th> Uploading Date </th>
              <th> Row Count </th>
            </thead>
            <tbody id="datasets_ground_tbody"></tbody>
          </table>
        </div>
        <h3>Truth Discovery Algorithms</h3>
        <div id="algo_pane">
          <p>Select one or more algorithms:</p>
        </div>
      </div>
    </div>

    <!-- This is tab 2 -->
    <div id="tab-2"> <div id ="tab_pane" class="accordion"> </div> </div>
    <!-- This is tab 3 -->
    <div id="tab-3"> 
      <div>
        <button id="start_button">Start</button>
      </div>
    </div>  
  </div>
</div>

<div class="ui-layout-center inner">
    <div class="ui-layout-west">
      <table class="display" id="source_id_datatable" >
        <thead>
          <th>Sources</th>
        </thead>
      </table>
    </div>
    <div class="ui-layout-center">
      <table class="display" id="object_key_datatable" >
        <thead>
          <th>Objects</th>
        </thead>
      </table>
    </div>
    <div class="ui-layout-east">
      <table id="datatable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>claim_id</th>
            <th>object_id</th>
            <th>property_key</th>
            <th>property_value</th>
            <th>source_id</th>
            <th>timestamp</th>
          </tr>
        </thead>
      </table>
    </div>  
  
  <div class= "ui-layout-south">
    <p id="details">
    </p>
  </div>
</div>

<div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user %>.
        <%= link_to 'Change password', edit_user_registration_path %> -
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% end %>
</div>
